<h1>Welcome Board</h1>
<div class="lists">
  <div class="list-composer">
    <span>Add a list...</span>
    <form action="/list/new" method="post">
      <input type="text" name="title" placeholder="Add a list...">
      <div class="control">
        <input type="submit" value="Save">
        <a class="icon_close"></a>
      </div>
    </form>
  </div>
</div>