@import "whitespace-reset.css"
@import "mixins"
@import "icon.css"

html,body
  overflow: hidden
  font: normal 16px "Helvetica Neue", Arial, Helvetica, sans-serif
  color: #4d4d4d
  background: #0079bf

h1
  padding: 15px 20px
  font-size: 18px
  color: #f6f6f6

main
  min-width: 800px

div
  border-radius: 3px

textarea, input[type="text"], input[type="date"]
  width: 100%
  resize: none
  color: #4d4d4d
  border: none
  border-radius: 5px
  box-shadow: none
  box-sizing: border-box
  &:focus
    outline: 0
    border-color: #298FCA
    box-shadow: 0 0 2px #298FCA
    background: #ffffff

input[type="text"], input[type="date"]
  margin: 5px 0
  padding: 7px
  height: 34px
  font-size: 14px
  border: 1px solid #CDD2D4
  background: #E2E4E6

input[type="text"].input-error
    border-color: #EC9488
    box-shadow: 0 0 2px #EC9488

input[type="submit"], button
  padding: 7px 20px
  border-radius: 3px
  border: none
  box-shadow: none
  font-size: 14px
  line-height: 22px

p, h3
  a
    &:hover
      text-decoration: underline
      color: #4d4d4d
      cursor: pointer

#board
  position: absolute
  overflow-x: auto
  overflow-y: hidden
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin-bottom: 10px
  white-space: nowrap

.hide
  display: none

.lists
  white-space: nowrap

.list, .list-composer
  display: inline-block
  margin-left: 10px
  width: 270px
  vertical-align: top
  box-sizing: border-box
  background: #e2e4e6
  &:last-of-type
    margin-right: 10px

.list-cards
  padding: 0 10px

.list-header
  padding: 10px 10px 5px 10px
  textarea
    max-height: 26px
    padding: 3px
    font: bold 15px "Helvetica Neue", Arial, Helvetica, sans-serif
    background: transparent
    cursor: pointer
    vertical-align: middle
    &:focus
      cursor: auto
      background: #ffffff

.list-card, .card-new-title
  margin-bottom: 6px
  font-size: 14px
  cursor: pointer
  border-bottom: 1px solid #cccccc
  background: #ffffff
  &:first-of-type
    margin-bottom: 0
    border-bottom: none

.list-card-detail
  white-space: normal
  a
    display: block
    padding: 6px 8px
    color: inherit
    text-decoration: none
  &:hover
    background: #EDEFF0

.list-composer
  cursor: pointer
  color: #ffffff
  transition: background 85ms ease-in
  background: rgba(0,0,0,.12)
  &:hover
    background: rgba(0,0,0,.3)
  form
    display: none
    padding: 4px
    border-radius: 3px
    background: #E2E4E6
    .control
      margin: 4px 0 0 0
      padding: 0
  span
    display: block
    padding: 12px 15px
    color: rgba(255,255,255,.7)
    font-size: 14px
  input
    display: inline-block
    margin: 0
    box-shadow: inset 0 1px 8px rgba(0,0,0,.15)
    border-color: #aaaaaa
    background: rgba(0,0,0,.05)
    &:focus
      box-shadow: inset 0 1px 8px rgba(0,0,0,.15)
      border-color: #aaaaaa
      background: rgba(0,0,0,.05)

.card-composer
  display: block
  padding: 5px 10px 10px 10px
  font-size: 14px
  color: #8c8c8c
  &:hover
    cursor: pointer
    text-decoration: underline
    background: #CDD2D4
    color: #4d4d4d

.card-new
  display: none
  margin-bottom: 8px
  textarea
    height: 63px
    padding: 6px 8px 0 8px
    &:focus
      outline: none
      border: none
      box-shadow: none
  input
    padding: 4px 16px
  .control
    margin-top: 7px

.overlay
  &:before
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 1
    content: ""
    background-color: rgba(0, 0, 0, 0.6)

.edit-card
  display: block
  position: absolute
  top: 5%
  left: 50%
  width: 730px
  min-height: 600px
  margin: 0 auto
  background: #EDEFF0
  z-index: 2
  transform: translate(-50%, 0)
  box-sizing: border-box
  p
    margin: 1px 0
    font-size: 14px
    color: #8c8c8c
    a
      text-decoration: underline

.edit-header
  position: relative
  padding: 9pt 9pt 0
  margin: 4px 40px 4px 38px
  textarea
    padding: 4px 6px
    margin: -4px -6px
    font: bold 18px "Helvetica Neue", Arial, Helvetica, sans-serif
    color: #4d4d4d
    line-height: 22px
    background: transparent
    cursor: auto
    &:focus
      cursor: auto
      background: #ffffff

.edit-sidebar
  float: right
  width: 140px
  padding: 8px 9pt 9pt 0
  .module-header
    clear: both
    margin: 0 0 20px 0
    padding: 0
    h3
      display: block
      line-height: 21px
    a
      position: relative
      display: block
      padding: 7px
      margin-top: 6px
      font-size: 14px
      font-weight: bold
      border-radius: 5px
      border: 1px solid #E2E4E6
      border-bottom-color:  #CDD2D4
      background: linear-gradient(to bottom,#fff 0,#F8F9F9 100%)
      &:hover
        cursor: pointer
        color: #ffffff
        background: #298FCA
    span
      position: relative
      top: 0
      display: inline-block
      width: 18px
      height: 18px
      margin: 0
      line-height: 18px
      font-size: 9pt
      color: #999999
      text-align: center

.pop-over
  display: none
  position: absolute
  right: -25px
  width: 300px
  margin-top: 4px
  z-index: 3
  border: 1px solid #D6DADC
  border-bottom-color: #C4C9CC
  box-shadow: 0 1px 6px rgba(0,0,0,.15)
  background: #ffffff
  .pop-over-header
    height: 44px
    margin-bottom: 8px
    h3
      display: block
      padding: 0 2pc
      margin: 0 10px
      line-height: 36px
      font-weight: normal
      font-size: 14px
      color: #8c8c8c
      text-align: center
      border-bottom: 1px solid #D6DADC
      box-sizing: border-box
    a
      position: absolute
      margin: 0
      padding: 0
      border: none
      font-size: 20px
      font-weight: normal
      vertical-align: middle
      background: transparent
      &:hover
        color: #8c8c8c
        background: transparent
  .pop-over-content
    padding: 0 10px 10px 10px
    label
      display: block
      padding-bottom: 5px
      font-weight: bold
      font-size: 14px
    .control
      input
        min-width: 35%
      button.remove
        float: right
        min-width: 35%
    .button-select-threequarters, .button-select-quarter
      position: relative
      display: inline-block
      width: 72%
      height: 52px
      margin: 0 3% 3% 0
      padding: 7px
      vertical-align: top
      box-sizing: border-box
      border: 1px solid #E2E4E6
      border-bottom-color: #CDD2D4
      background: linear-gradient(to bottom,#fff 0,#F8F9F9 100%)
      span
        display: block
        width: 100%
        text-align: left
        font-weight: bold
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        &.title
          font-size: 12px
          line-height: 14px
        &.content
          font-size: 18px
          color: #4d4d4d
          line-height: 24px
      &:hover
        border-color: #298FCA #298FCA #026AA7
        background: #298FCA
        span
          color: #ffffff
    .button-select-quarter
      width: 25%
      margin-right: 0
    select
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      width: 100%
      cursor: pointer
      z-index: 2
      opacity: 0
    textarea
      margin: 4px 0 12px 0
      padding: 7px
      height: 72px
      font: inherit
      font-weight: normal
      line-height: 18px
      border: 1px solid #CDD2D4
      background: #E2E4E6
      resize: vertical
      &:focus
        outline: 0
        border-color: #298FCA
        box-shadow: 0 0 2px #298FCA
        background: #ffffff
    form
      .keep_comments
        margin: 4px 0 24px 0
        input[type="checkbox"]
          vertical-align: middle
        label
          display: inline-block
          padding: 0 0 0 5px
          font-weight: normal
          span
            display: inline
            font-size: 14px

.edit-main
  float: left
  width: 546px
  padding: 8px 9pt 9pt
  .edit, .first-edit
    clear: both
    margin: 0 0 18px 38px
    p
      margin: 4px 0 0 0
      padding: 6px 8px
      border-radius: 3px
      a
        padding: 0 10px
      &:hover
        cursor: pointer
        color: #4d4d4d
        background: #D6DADC
    h3
      display: inline-block
      margin: 6px 0 7px 0
      border-radius: 3px
      font-size: 14px
      font-weight: normal
      color: #8c8c8c
      a
        padding: 0 2px
        text-decoration: underline
    .description
      cursor: pointer
      p
        display: inline
        margin: 0
        padding: 0
        color: #4d4d4d
        &:hover
          background: transparent

.icon_document_alt
  width: 30px
  height: 30px
  position: absolute
  left: -28px
  top: 10px
  line-height: 30px
  font-size: 20px
  color: #999999
  text-align: center

.icon_pencil-edit
  width: 18px
  height: 18px
  font-size: 14px
  line-height: 18px
  color: #999999
  text-align: center

.icon_close, .icon_comment_alt , .icon_clipboard
  width: 30px
  height: 30px
  font-size: 20px
  line-height: 30px
  color: #999999
  text-align: center

.icon_close
  cursor: pointer
  font-size: 32px
  vertical-align: middle

.edit-close
  display: block
  position: absolute
  top: .75%
  right: .75%
  width: 30px
  height: 30px
  z-index: 2
  box-sizing: border-box

.module-header
  position: relative
  padding: 8px 0
  margin: 0 0 6px 38px
  span
    position: absolute
    top: 2px
    margin-left: -38px
  h3
    display: inline-block

.edit-due
  h3
    width: 100%
    display: block
  a
    display: inline-block
    padding: 8px 10px
    color: #8c8c8c
    font-size: 14px
    cursor: pointer
    border-radius: 3px
    text-decoration: underline
    background: #E2E4E6

.edit-description
  display: none
  margin: 0 0 20px 38px
  textarea
    margin: 5px 0 -3px 0
    padding: 7px
    height: 108px
    box-shadow: inset 0 1px 6px rgba(0,0,0,.1)
    border: 1px solid #CDD2D4
    background: rgba(0,0,0,.03)

.comment-new, .comment, .edit-comment
  position: relative
  margin: 0 0 20px 38px
  img
    position: absolute
    top: 1px
    margin-left: -38px
    border-radius: 3px
  textarea
    min-height: 75px
    padding: 9px 11px 0
    font: normal 14px "Helvetica Neue", Arial, Helvetica, sans-serif
    box-shadow: 0 1px 2px rgba(0,0,0,.23)
  .control-inactive
    margin-top: 5px
    input[type="submit"]
      box-shadow: none
      color: #8c8c8c
      background: #E2E4E6
      &:hover
        cursor: auto
        background: #E2E4E6

.edit-comment, .empty_alert
  display: none

p.empty_alert, p.delete_alert
  padding: 0 0 8px
  color: #4d4d4d

.comment
  &:not(:nth-last-child(2))
    border-bottom: 1px solid #E2E4E6
  .comment-content
    display: inline-block
    p
      padding: 9px 11px
      margin: 0
      font: normal 14px "Helvetica Neue", Arial, Helvetica, sans-serif
      color: #4d4d4d
      box-shadow: 0 1px 2px rgba(0,0,0,.23)
      background: #ffffff
  .comment-control
    padding: 10px 0
    span
      font-size: 9pt
      a
        cursor: pointer
        color: #8c8c8c
        text-decoration: underline
        &:hover
          color: #4d4d4d

.control
  margin-top: 5px
  input[type="submit"]
    margin-right: 4px
    font-weight: bold
    color: #ffffff
    box-shadow: 0 1px 0 #3F6F21
    background: linear-gradient(to bottom,#61BD4F 0,#5AAC44 100%)
    &:hover
      cursor: pointer
      background: linear-gradient(to bottom,#5AAC44 0,#519839 100%)
  .remove, input[type="submit"].remove
    font-weight: bold
    box-shadow: 0 1px 0 #3F6F21
    color: #B04632
    background: linear-gradient(to bottom,#D6DADC 0,#CDD2D4 100%)
    &:hover
      color: #ffffff
      cursor: pointer
      background: linear-gradient(to bottom,#CF513D 0,#B04632 100%)
